<!DOCTYPE html>
<html>
  <head>
    <title>MadLib Story</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <p>
      It was a @Model.Adjective1, cold November day.  I woke up to the @Model.Adjective2 smell of @Model.Bird roasting in the @Model.Room downstairs.  I @Model.Verb1 down the stairs to see if I could help @Model.Verb2 the dinner.  My mom said, "See if @Model.Relative needs a fresh @Model.Noun." . So I carried a tray of glasses full of @Model.Drink into the @Model.VerbIng1 room. When I got there, I couldn't believe my @Model.BodyPart! There were @Model.NounPlural @Model.VerbIng2 on the @Model.Noun2!
    </p>
  </body>
</html>
